---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import "animate.css";
---

<Layout title="Portfolio Miguel Guevara">
  <Header />

  <main
    class="flex flex-col gap-3 lg:max-w-screen-xl md:max-w-screen-lg w-[90%] mx-auto"
  >
    <section class="flex lg:flex-row flex-col gap-3 text-gray-300">
      <Info />

      <div class="border basis-1/3 rounded-lg overflow-hidden">
        <img
          src="/miguel.webp"
          alt="Miguel Guevara"
          class="rounded-lg h-full object-cover object-right"
        />
      </div>
    </section>
  </main>
</Layout>
