---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import Skills from "../components/Skills.astro";
import "animate.css";
---

<Layout title="Portfolio Miguel Guevara">
  <Header />

  <main class="lg:max-w-screen-xl md:max-w-screen-lg w-[90%] mx-auto">
    <section class="flex md:flex-row flex-col gap-3 text-gray-300">
      <Info />

      <div class="border basis-1/3 rounded-lg">
        <div class="w-full object-cover">
          <img class="object-cover" src="/miguel.webp" />
        </div>
      </div>
    </section>

    <Skills />
  </main>
</Layout>
