<header
  class="flex items-center justify-between max-w-screen-sm lg:max-w-screen-xl md:max-w-screen-lg w-[90%] mx-auto text-gray-300 text-2xl py-20"
>
  <h1 class="font-bold">
    Miguel<span class="font-normal">, Full-Stack</span>
  </h1>

  <nav class="md:block hidden">
    <ul class="flex gap-5 font-bold">
      <li><a href="#about">Projects</a></li>
      <li><a href="#projects">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
